<footer class="bd-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb3">
                <a style="font-weight: bold;" href="/">
                    <span class="fs-5">{{name}}</span>
                </a>
                <ul class="list-unstyled small">
                    <li class="mb-2">
                        Agrego una pequeña descripción
                    </li>
                    <li class="mb-2">
                        Diseñado con <a class="text-decoration-none" href="https://angular.dev/" target="_blank">Angular</a> y <a class="text-decoration-none" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
                    </li>
                    <li><i class="bi bi-c-circle"></i> 2025 | {{name}} - Todos los derechos reservados</li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Servicios</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/disenoweb">Diseño Web</a>
                    </li>
                    <li class="mb-2">
                        <a href="/diseno-organizacional">Diseño Organizacional</a>
                    </li>
                    <li class="mb-2">
                        <a href="/imagencorporativa">Imagen Corporativa</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Area de Ventas</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#">Acá va el contacto de venta</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Area de Soporte Web</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#">Acá va mi contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>