<nav class="navbar navbar-expand-lg bg-success sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            Mi Nombre
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/inicio" aria-current="page" routerLinkActive="active">Bienvenidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/quienes-somos" routerLinkActive="active">Quienes somos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                    <ul class="dropdown-menu bg-success">
                        <li>
                            <a class="dropdown-item nav-link" routerLink="/disenoweb" routerLinkActive="active">Diseño Web</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-item nav-link" routerLink="/diseno-organizacional"  routerLinkActive="active">Diseño Organizacional</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-item nav-link" routerLink="/imagencorporativa" routerLinkActive="active">Imagen Corporativa</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
