<nav class="navbar navbar-expand-lg sticky-top" style="font-family: Oswald; font-size: 26px;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            {{name}}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/inicio" aria-current="page" routerLinkActive="active">Bienvenidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/quienes-somos" routerLinkActive="active">Quienes somos</a>
                </li>
                <li class="nav-item dropdown" [class.active]="isServiciosActive()">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" 
                            routerLink="/servicios/disenoweb" 
                            routerLinkActive="active">Diseño Web</a>
                        </li>
                        <li>
                            <a class="dropdown-item" 
                            routerLink="/servicios/diseno-organizacional"  
                            routerLinkActive="active">Diseño Organizacional</a>
                        </li>
                        <li>
                            <a class="dropdown-item" 
                            routerLink="/servicios/imagencorporativa" 
                            routerLinkActive="active">Imagen Corporativa</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
