<div class="container" style="align-items: center;">
    <h3>Bienvenido</h3>
    <div id="homeCarousel" class="homeCarrousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="bg-primary" style="color: whitesmoke; height: 240px;">
                    <h4 style="text-align: center;">Diseño Web</h4>
                    <span>{{wddescriptionhead}}</span>
                    <ul>
                        @for (item of wdservicios; track $index) {
                            <li>{{item}}</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="carousel-item">
                <div class="bg-primary" style="text-align: center; height: 240px;">
                    <h4>Diseño Organizacional</h4>
                    <span>Un pequeño resumen del servicio</span>
                </div>
            </div>
            <div class="carousel-item">
                <div class="bg-primary" style="text-align: center; height: 240px;">
                    <h4>Imagen Corporativa</h4>
                    <span>Un pequeño resumen del servicio</span>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>