<div class="chat-container">
    <div class="chat-header bg-primary text-white">
        <h5 class="mb-0">Asistente con Gemini</h5>
        <button class="btn btn-danger btn-sm" (click)="closeChat()">X</button>
    </div>
    <div class="conversation">
        @for (message of conversation; track $index) {
            <div class="message {{message.sender}}">
                <p>{{message.text}}</p>
            </div>
        }
    </div>
    <div class="input-container">
        <div class="mb-3">
            <textarea 
            class="form-control"
            [(ngModel)]="userInput"
            placeholder="Escribe tu pregunta..."
            rows="2"
            ></textarea>
        </div>
        <button
        (click)="sendPrompt()"
        [disabled]="isLoading">
            <span >@if(!isLoading){Enviar}@if(isLoading){Loading}</span>
        </button>
    </div>
</div>